@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;800&family=Open+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.title {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
}

.input {
    width: 40vw;
    height: 40vw;
    border-radius: 49%;
    /* margin-left: 80px; */
    box-shadow: 3px 3px 8px rgba(41, 40, 40, 0.575) inset;
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    background-color: rgb(240, 229, 191);
}

.one {
    border: 15px solid #2843dd;
}

.two {
    border: 15px solid #fbb800;
}

.three {
    border: 15px solid #d3261a;
}

.game {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    /* margin-top: 50px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header {
    position: relative;
    border: 3px solid hsl(217, 16%, 45%);
    margin: 40px auto 60px auto;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.cscr, .scr {
    background-color: white;
    width: 15vw;
    height: auto;
    text-align: center;
    border-radius: 9px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    color: rgba(26, 25, 25, 0.747);
    font-size: .5rem;
    margin-left: 2vw;
}

.div {
    display: flex;
    flex-wrap: nowrap;
}

.score {
    margin-bottom: 1px;
    color: hsl(229, 64%, 46%);
}

span {
    font-size: 2rem;
    color: hsl(229, 25%, 31%);
    padding-bottom: 2px;
}

.one,
.two,
.three {
  transition: transform .5s, font-size .5s .3s;
}

.one:hover,
.two:hover,
.three:hover{
    transform: scale(1.1);
    font-size: 1.8rem;
}

.hide {
    display: none;
}


/* 
  another page styling
*/


.choicecontainer {
    width: 90vw;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    color: white;
}

.pick {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

 .select {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: .7rem;
 }


.userpicked, 
.bosspicked {
    width: 35vw;
    height: 35vw;
    border-radius: 49%;
    margin-top: 30px;
    border: 20px solid rgb(73, 207, 32);
    font-size: .5rem;
    box-shadow: 3px 3px 7px rgba(48, 46, 46, 0.61) inset;
}

.win {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 5vh;
}

.winner {
    font-size: 2rem;
    text-align: center;
}

.playagain {
    top: 32vh;
    left: 22.5vw;
    padding: 15px 55px;
    margin-top: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 8px rgba(22, 22, 22, 0.795);
}


@media only screen and (min-width: 700px) {
    .container {
        width: 70vw;
    }

    .game {
        width: 40vw;
    }

    .input {
        width: 15vw;
        height: 15vw;
    }

    .cscr, .scr {
        width: 10vw;
    }

    header {
        width: 60vw;
        justify-content: space-between;
    }

    .choicecontainer {
        width: 50vw;
        position: relative;
    }

    .userpicked, .bosspicked {
       width: 18vw;
       height: 18vw;
   }

   .select {
       width: 40vw;
   } 

   

}