@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;800&family=Open+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

/* .container {
} */

.title {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.input {
    width: 145px;
    height: 145px;
    border-radius: 49%;
    margin-left: 80px;
    box-shadow: 2px 2px 8px black;
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    background-color: rgb(240, 229, 191);
}

.one {
    border: 15px solid #2843dd;
}

.two {
    border: 15px solid #fbb800;
}

.three {
    border: 15px solid #d3261a;
}

.game {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    position: relative;
    border: 3px solid hsl(217, 16%, 45%);
    width: 50vw;
    margin: 40px auto 60px auto;
    border-radius: 20px;
    padding: 8px;
}


.cscr, .scr {
    position: absolute;
    top: 12px;
    left: 40vw;
    background-color: white;
    width: 9vw;
    height: 16vh;
    text-align: center;
    border-radius: 9px;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    color: rgba(26, 25, 25, 0.747);
}

.cscr {
    left: 30vw;
}

.score {
    margin-bottom: 1px;
    color: hsl(229, 64%, 46%);
}

span {
    font-size: 2.2rem;
    color: hsl(229, 25%, 31%);
    padding-bottom: 2px;
}

.one,
.two,
.three {
  transition: transform .5s, font-size .5s .3s;
}

.one:hover,
.two:hover,
.three:hover{
    transform: scale(1.1);
    font-size: 1.8rem;
}

.hide {
    display: none;
}

.choicecontainer {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    position: relative;
    font-family: 'Anton', sans-serif;
    color: white;
}

.houseselected {
    position: absolute;
    top: 0;
    left: 45vw;
}


.userpicked, 
.bosspicked {
    width: 220px;
    height: 220px;
    border-radius: 49%;
    margin-top: 30px;
    border: 20px solid rgb(73, 207, 32);
}


.bosspicked {
    position: absolute;
    top: 36px;
    left: 45vw;
}

.userpicked {
    position: absolute;
    top: 36px;
    left: -3vw;
}

.winner, .playagain {
    position: absolute;
}

.winner {
    top: 25vh;
    left: 26vw;
    font-size: 2rem;
}

.playagain {
    top: 32vh;
    left: 22.5vw;
    padding: 15px 55px;
    margin-top: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 8px rgba(22, 22, 22, 0.795);
}
